a:hover {
  background-color: #ddd;
  font-size: 18px;
  color:black;
}

body{
    background-image: url("/public/images/loginbgimg.jpg");
    background-repeat: no-repeat;
     background-size: 100% 100%;
      color: rgb(4, 4, 39);
}