/*#backendMenuLeft {
  border: 2px solid #fff;
  width: auto;
  height: auto;
  display: inline;
  background-color: #ddd;
  border-radius: 5px;
  color: blue;
  margin: 20px;
  overflow-wrap: break-word;
  position: absolute;

}**/
#contentparent,
#parentContentContainer {
  margin: auto;
  position: relative;
  overflow: hidden;
}
#contentContainerLft {
  border: 0px solid #871313;
  width: 84.5%;
  height: auto;
  float: left;
}

#contentContainerRgt {
  margin: auto;
  float: right;
  border: 0px solid #131111;
  width: 7%;
  height: auto;
  margin-right: 5%;
  position: sticky;
}
#backendContentMenusTop {
  background-color: #000;
  width: 95%;
  height: 50px;
  margin-left: 2%;
  border: 2px solid #000;
  position: relative;
}

#backendContentCenter {
  border: 1px solid #7a7474;
  width: 95%;
  height: 90%;
  border-radius: 0px;
  background-color: #87cefa;
  color: rgb(27, 27, 159);
  margin-left: 2%;
  overflow: hidden;
}

#contentfooter {
  border: 1px solid #333131;
  width: 95%;
  height: 150px;
  margin-left: 2%;
  border-radius: 0px;
  background-color: #fff;
  overflow: hidden;
}

#changePasswordgui form,
#changePasswordgui h1 {
  margin: auto;
  padding: 12px 20px;
}

#changePasswordgui {
  margin: auto;
  color: rgb(24, 24, 162);
}
#changePasswordgui {
  border: 1px ridge #fff;
  width: 30%;
  padding: 12px 20px;
}

#usermangement,
#loginusermanagement,
#pagemanagement,
#templatemangement,
#userrightmangement {
  border: 2px ridge rgb(188, 201, 222);
  margin: 20px;
  width: 70%;
  height: auto;
  background-color: rgb(188, 201, 222);
  color: rgb(14, 14, 125);
  border-radius: 5px;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
#logoContainer {
  border: 0px solid hwb(0 44% 13%);
  width: 95%;
  height: 20.5%;
  margin: auto;
  margin-left: 2%;
}

#backendlogo {
  border: 0px solid hwb(0 45% 52%);
  margin: auto;
  width: 30%;
  height: 20%;
  border-radius: 5px;
  overflow: auto;
  position: relative;
  animation: example infinite;
  animation-duration: 10s;
  animation-direction: reverse;
}
@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -35%;
    right: 0%;
  }
  50% {
    left: -20%;
    right: -20%;
  }
  75% {
    left: 40%;
    right: 40%;
  }
  100% {
    left: 0%;
    right: 0%;
  }
}
#backendlogo img {
  width: 50%;
  height: 20%;
}

.userprofile input[type="text"],
.userprofile input[type="date"],
.userprofile input[type="email"],
.userprofile input[type="file"],
.userprofile select,
#changePasswordgui input[type="text"],
#changePasswordgui input[type="password"] {
  box-sizing: border-box;
  /* border-radius: 4px; */
  width: 70%;
  padding: 12px 20px;
  border: 1px ridge #000;
  height: 5%;
}
.userprofile input {
  margin-left: 5%;
}
#updatecontainer select {
  width: 15%;
  height: 10%;
  padding: 12px 20px;
}
#usertinsertcontainer input[type="text"],
#usertinsertcontainer input[type="email"],
#usertinsertcontainer input[type="date"],
#usertinsertcontainer input[type="file"],
#usertinsertcontainer select,
#updatecontainer input[type="text"],
#updatecontainer input[type="email"],
#updatecontainer input[type="date"],
#updatecontainer input[type="file"],
#pagecontainer input[type="text"],
#pagecontainer input[type="file"],
#pagecontainer select {
  width: 70%;
  height: 10%;
  padding: 12px 20px;
}

#updateUserprofile {
  width: 150px;
  height: 5%;
  border: 1px ridge #000;
  background-color: #ddd;
  padding: 12px 20px;
}
.userprofile select {
  padding: 12px 20px;
  margin-left: 14%;
  border: 2px ridge #ddd;
  font-size: 14px;
  width: 20%;
}
#createHtmlTplContainer button,
#updatecontainer button,
.userprofile button {
  padding: 12px 10px;
  margin-left: 5px;
}
#updatecontainer table,
#updatecontainer h2 {
  margin-left: 5%;
  overflow: auto;
}
#updatecontainer button {
  margin-left: 1%;
}
#updatecontainer select {
  margin-left: 1%;
  width: 20%;
}
#updatecontainer label {
  margin-left: 5%;
}

#createHtmlTplContainer select,
#createHtmlTplContainer input {
  margin-left: 1%;
  font-size: 14px;
  padding: 12px 20px;
  width: 20%;
}
#createHtmlTplContainer textarea,
#pagecontainer textarea {
  margin-left: 1%;
  font-size: 14px;
  padding: 12px 20px;
}
.userprofile label,
#pagecontainer label {
  margin-left: 0%;
  font-size: 17px;
  width: 20%;
}
#contenteditor {
  width: 70%;
}
#createHtmlTplContainer {
  margin-left: 10%;
}
#createHtmlTplContainer h2,
#usertinsertcontainer h2,
#createHtmlTplContainer label,
.userprofile h2 {
  padding: 5px 15px;
}

#usertinsertcontainer table {
  width: auto;
  border-collapse: collapse;
  margin-left: 5%;
  box-sizing: content-box;
}

#allusers {
  overflow-wrap: break-word;
  padding: 12px 20px;
}
#allusers table {
  font-size: 14px;
  border: 1px solid #282626;
  width: auto;
}

#allusers td {
  box-sizing: border-box;
  width: 10%;
  text-align: inherit;
}

#allusers th {
  border: 1px solid rgb(177, 172, 121);
  padding: 5px;
  width: 10%;
  text-align: inherit;
  background-color: antiquewhite;
  border-collapse: collapse;
  word-break: break-all;
  box-sizing: border-box;
  font-size: 16px;
}
tr:nth-child(odd) {
}
#allusers h2 {
  padding: 12px 20px;
}
#allusers tr {
  background-color: #fff;
}
#allusers tr:hover {
  background-color: #ddd;
}
#allusers p:hover {
  border: 3px solid rgb(223, 238, 52);
  background-image: url("/images/icons8-trash-24.png");
  width: 24px;
  height: 24px;
  background-color: rgb(223, 238, 52);
  background-repeat: no-repeat;
}

#allusers p {
  background-image: url("/images/icons8-trash-24.png");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
#leftfooterContainer {
  width: 100%;
  float: left;
  height: inherit;
  background-color: #000;
  /* border-bottom-left-radius: 2%; */
  border: 2px solid #000;
}

#rightfooterContainer {
  width: 0%;
  float: right;
  height: inherit;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;

  /* border-bottom-right-radius: 2%; */
}
#contentContainerRgt button {
  width: 100%;
  height: 100%;
}

#divider {
  position: absolute;
  margin-left: 40%;
  height: 100%;
  border-left: 2px solid #000;
  width: 0.5%;

  /* background-color:#87CEFA ; */
  /* margin-bottom: 100%; */
  /* margin-top: 5%; */
  /* bottom: 15%; */

  overflow: hidden;
}

#updatecontainer,
#pagecontainer,
#usertinsertcontainer {
  position: relative;
  padding: 10px;
  border: 1px solid #000;
  width: auto;
  height: auto;
  overflow: hidden;
}
#contentLft {
  width: 40%;
  height: 100%;
  border: 0px solid #2c0a0a;
  margin-left: 1%;
  /* margin: auto; */
  float: left;
  overflow: hidden;
}
#contentRgt {
  border: 0px solid #230808;
  width: 50%;
  height: 100%;
  float: right;
  overflow: hidden;
}

#resetPasswordContainer {
  margin-left: 20%;
}

#resetPasswordContainer input[type="text"] {
  width: 40%;
  height: 10%;
  padding: 12px 20px;
}
#resetPasswordContainer select,
#resetPasswordContainer input[type="submit"],
#pagecontainer input[type="submit"] {
  width: 20%;
  height: 10%;
  padding: 12px 20px;
}
#resetPasswordContainer h4 {
  margin-left: 0%;
}

#contentTitle {
  width: 50%;
  height: 0%;
  padding: 2% 5%;
  border: 2px ridge #000;
  background-color: #fff;
  margin-bottom: 1%;
  font-size: 25px;
  font-weight: 900;
}
#contentDetails{
  width: 85%;
  height: auto;
  padding: 2% 5%;
  border: 2px ridge #000;
  background-color: #fff;
  margin-bottom: 3%;
  font-size: 20px;
}