{% extends "@frontend/home.html.twig"%}
{% block style %}
	<link rel="stylesheet" href="{{asset('public/css/TextLftImgRgt.css')}}">
{% endblock %}
{% block homeContents %}
<div id="textLftContentRgt" class="textLftImgRgt">
 <div id="ctTitleSrd">
 <div id="ctTitle"></div>
 <div class="ctIamge"><img class="margin-left:10px;" id="imgText" src="/public/images/lion1.png" width="100%" height="100%"/></div>
 </div>
<div id="ctText"><div>
</div>
    
{% endblock %}