{% extends '@backend/backendmanagement.html.twig' %}

{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/UserActions.js') }}"></script>
{% endblock %}
{% block backendcontentright %}
	<div id="usertinsertcontainer"  required >
	<div id="contentLft"  required >
		<h2>
			{{ value }}
		</h2>
		<p id="error_message"/>
		<h4 style="{{cssResponse}}">{{response}}</h4>
		<form action="/backendmanagement/usermanagement/saveNewprofile" method="post" id="insertuser"  enctype="multipart/form-data" >
			<table>
				<tr>
					<td>Gender:</td>
					<td>
						<select name="gender" id="gender"  required >
							<option value="" disabled selected></option>
							<option value="Male"  required >Male</option>
							<option value="Female"  required >Female</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Title:</td>
					<td>
						<select name="title" id="title"  required >
							<option value="" disabled selected></option>
							<option value="Dr."  required >Dr.</option>
							<option value="Pr. Dr."  required >Prof. Dr.</option>
							<option value="Prof."  required >Prof.</option>
							<option value="Ing."  required >Ing.</option>
							<option value="Mr."  required >Mr.</option>
							<option value="Mrs"  required >Mrs</option>

						</select>
					</td>
				</tr>
				<tr>
					<td>Firstname:</td>
					<td>
						<input type="text" maxlength="100" id="firstname" name="firstname" pattern="[a-zA-Z ]*" required >
					</td>
				</tr>
				<tr>
					<td>Lastname:</td>
					<td><input type="text" maxlength="100" id="lastname" name="lastname" for="lastname" pattern="[a-zA-Z ]*"  required ></td>
				</tr>
				<tr>
					<td>Birthday:</td>
					<td><input type="date" maxlength="20" id="birthday" name="birthday"  required ></td>
				</tr>
				<tr>
					<td>E-Mail:</td>
					<td><input type="email" maxlength="100" id="email" name="email"  required ></td>
				</tr>
				<tr>
					<td>Phone number:</td>
					<td><input type="text" maxlength="100" id="phonenumber" name="phonenumber" placeholder="12323400809" pattern="[0-9]*"  required ></td>
				</tr>
				<tr>
					<td>Street name:</td>
					<td><input type="text" maxlength="100" id="streetname" name="streetname" pattern="[a-zA-Z ]*" required ></td>
				</tr>
				<tr>
					<td>House number:</td>
					<td><input type="text" maxlength="100" id="housenumber" name="housenumber" pattern="[0-9]*" required ></td>
				</tr>

				<tr>
					<td>Zipcode:</td>
					<td><input type="text" maxlength="5" id="zipcode" name="zipcode" pattern="[0-9]*"  required ></td>
				</tr>
				<tr>
					<td>City:</td>
					<td><input type="text" maxlength="20" id="city" name="city" pattern="[a-zA-Z ]*" required ></td>
				</tr>
				<tr>
					<td>Country:</td>
					<td><input type="text" maxlength="20" id="country" name="country" pattern="[a-zA-Z ]*" required ></td>
				</tr>
				<tr>
					<td>Picture:</td>
					<td><input type="file" id="picture" name="picture"  value="" accept=".jpg, .jpeg, .png" > 
					<input type="hidden" name="action" value="insertNewUser"/></td>
				</tr>
				<tr>
					<td><input type="submit" id="insertuser" value="Do insert" style="color:rgb(27, 27, 159); "  required ></td>
				</tr>

			</table>
		</form>
		</div>
		<div id="divider"  required ></div>
		<div id="contentRgt" style="font-size:20px;"  required >
		</div>
	</div>
{% endblock %}
