{% extends '@backend/backendmanagement.html.twig' %}
{% block backendcontentright %}
	<div id="menuDashboard" class="containerDashboard">
		<h2>
			{{ value }}
		</h2>
		<a href='/backendmanagement/pagecontentmanagement/pgcontentGui'>
			<div class='dashboard'>
				<img src="/public/images/createContentImg.png">
				Create menu content
			</div>
		</a>
		{# <a href='/backendmanagement/menumanagement/creatertsbgui'>
			<div class='dashboard'>
				<img src="/public/images/menuEditImg.png">
				create sub Menu of root menu
			</div>
		</a> #}
		<a href='/backendmanagement/pagecontentmanagement/all'>
			<div class='dashboard'>
				<img src="/public/images/listOfContentImg.png">
				Show list of contents
			</div>
		</a>
		<a href="/backendmanagement" style="margin-left:15px; text-decoration: none; font-size:20px"> &#10229; Back to main dashboard</a>

	</div>
{% endblock %}
