{% extends '@backend/backendmanagement.html.twig' %}

{% block backendcontentright %}

<div> 
  <h1 style="color: red;"> ERROR: Access denied </h1><br><br>
<i style="color: red;"> Your rights are not sufficient to open see the content of this menu.  </i> <br><br><br><br>
<br>
</div>
{% endblock %}